<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>    
    <p>Welcome <%= user.dataValues.username %></p>

    <form>
        <% if(sites.length == 0) { %>
        <a href="/newSite">Add New Sites</a>
        <% } else{ %>
            <table> 
                <% sites.forEach((site) => {  %>
                <tr>
                    <td><%= site.dataValues.siteURL %></td>
                    <td><%= site.dataValues.siteId %></td>
                    <td><%= site.dataValues.password %></td>
                    <td><a href="/editSite?id=<%= site.dataValues.id %>">Update</a></td>
                    <td><a href="/removeSite?id=<%= site.dataValues.id %>">Delete</a></td>
                </tr>
                <% }) %>
            </table>

            <a href="/newSite">Add New Sites</a>
        <%} %>
        <table>
                
        </table>
    </form>
</body>
</html>